.App {
  text-align: center;
  font: 15px Roboto, Verdana;
}

* {
  box-sizing: border-box;
}

.application{
  font-size: 20px;
}

#crud-profesor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}